*.gs linguist-language=JavaScript linguist-detectable=true linguist-vendored=false linguist-generated=false
*.html linguist-language=HTML linguist-detectable=true linguist-vendored=false linguist-generated=false
*.js.html linguist-language=JavaScript linguist-detectable=true linguist-vendored=false linguist-generated=false
*.css.html linguist-language=CSS linguist-detectable=true linguist-vendored=false linguist-generated=false